<div class="banner">
  <div class="container_banner">
    <h1> <strong>Cocktails universe!</strong>!</h1>
    <p>You are the bartender, Create the most amazing drink ever!</p>
    <%= link_to "New cocktail ", new_cocktail_path(@cocktail), class: "btn btn-flat" %>
  </div>
</div>

<div class="card-category" >
    <% @cocktails.each do |cocktail| %>
        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        <% cocktail.doses.each do |dose| %>
          <p><%= dose.ingredient.name %></p>
          <p><%= dose.description %></p>
        <% end %>
    <% end %>
</div>


