.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #d63131;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #8e0f0f;
  color: white;
}

.btn {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

