.card-category{
display: flex;
justify-content: center;
align-items: center;
height: 300px;
box-shadow: 0 0 15px rgba(0,0,0,0.1);
  li{
  list-style: none;
  }
  a{
  color: white;
  text-decoration: none;
  }
 }
.card_links{
 i{
color: #3f3f3f;
height: 50px;
  }
}
.card_form img{
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
.card_info{
  p{
  width: auto;
  margin: 5px;
  }
  i{
    margin: 8px;
  }
width: 40%;
height: 50%;
margin: 0 0 -35px 20px;
}

// index page
.cards {
  margin: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px 10px;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 360px 360px;
  }
}

@media(max-width: 768px) {
  .banner h1{
    font-size: 32px;
    margin-bottom: 32px;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    flex-grow: 1;
      height: 100vh;
  }
}








