.container_show {
  margin-top: 5px;
  padding: 16px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 4px;
  display: block;
  width: 800px;
  height: 70%;
  h1{
  color: #3f3f3f;
  }
}

.container-cards {
  display: -webkit-box;
  justify-content: center;
}
 .simple_form {
  width: 400px;
 }
